body {
  min-height: 100vh;
  height: 400px;
  background-color: #eceeee;
}

#root {
  height: 100%;
}

.App {
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.column {
  flex: 1;
  margin-left: 25px;
}

.column:last-of-type {
  margin-right: 25px;
}

.column-header {
  background-color: red;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.column:nth-of-type(1) .column-header {
  background-color: #8e6e95;
}

.column:nth-of-type(2) .column-header {
  background-color: #39a59c;
}

.column:nth-of-type(3) .column-header {
  background-color: #344759;
}

.column:nth-of-type(4) .column-header {
  background-color: #e8741e;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-top: 5px;
}

button {
  background-color: transparent;
  border: none;
  color: #999999;
}

.add-todo {
  padding: 10px;
}
